<div>
  <h1>Menu Editor</h1><br/>
    <div>
      <h2>Menu Categories</h2><br/>
      <ul>
        <li>
          <p><% menu_categories.each do |item| %></p>

          <h3><%= item.title %></h3>

          <form method="POST" action="/admin/<=% item.id %>">
            <textarea class='textarea_short'><%= item.title %></textarea><br/>
            <input type="hidden" name="_method" value="PUT"/>
            <input type="submit" value='Save' class="edit_button"/>
          </form>
          <%end%>
        </li>
      </ul>
    </div>


  <div>
    <h2>Menu Items</h2><br/>
    <ul>
      <li>
        <p>
         <% menu_items.each do |item| %>
        </p>

          <h3><%= item.name %></h3>
            <form action='/admin/<%=item.id%>' method="POST"/>

              <textarea class="textarea_short" name="name">
                <%=item.name%>
              </textarea><br/>

              <textarea class="textarea_short_and_tall" name="description">
                <%=item.description%>
              </textarea><br/>

              <input type="hidden" name="_method" value="PUT"/>
              <input type="submit" value='Save' class="edit_button"/>
            </form>

            <form action='/admin/<%=item.id%>' method="POST">
              <input type="hidden" name="_method" value="DELETE"/>
              <input type="submit" value="DELETE" class="edit_button"/>
            </form>
          <%end%>
      </li>
    </ul>
  </div>
</div>






