<h1>Menu Editor</h1><br/>
  <div>
    <h2>Menu Categories</h2><br/>
      <ul>
        <li>
          <%menu_categories.each do |item|%>
            <h3><%=item.title%></h3>
          <form action='/admin/category/<%=item.id%>' method="POST"/>
            <input name='title' value="<%=item.title%>" size=30/>
            <br/>
            <input type="hidden" name="_method" value="PUT"/>
            <input type="submit" value='Save'/>
          </form>
          <%end%>
        </li>
      </ul>
    </div>
  <div>
    <h2>Menu Items</h2><br/>
    <ul>
      <% menu_items.each do |item| %>
      <li>
        <p><h3><%= item.name %></h3></p>
          <form action='/admin/item/<%=item.id%>' method="POST"/>
            <p>Name:</p><input name="name" value="<%=item.name%>" size=65/><br/><br/>
            <p>Price:</p><input name="price" value="<%=item.price%>" size=17/> <br/><br/>
            <p>Description:</p><textarea class="textarea_short_and_tall" name="description"><%=
              item.description%></textarea><br/>
          <div style="width:400px;">
            <div style="float: left; width: 130px">
              <input type="hidden" name="_method" value="PUT"/>
              <input type="submit" value='Save'/>
          </form>
            </div>
            <div style="float: right; width: 225px">
              <form action='/admin/<%=item.id%>' method="POST">
                <input type="hidden" name="_method" value="DELETE"/>
                <input type="submit" value="DELETE" />
              </form>
            </div>
          </div><br/><br/>
        <%end%>
      </li>
    </ul>
  </div>
